.head-section{
    height:120rem;
    width:120rem;
    background-image:url('../components/assets/home/desktop/image-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin: -10rem auto 0rem ;
    
    
}
.Header{
    position:relative;
    top:.1rem;
    color:#fff;
}
.speak-bg{
    background-image: url("../components/assets/home/desktop/image-speaker-zx7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% 100%;
    width:100%;
    
}